.site-info {
    padding: 1em ;
    background-color: rgba(0, 1, 2, 0.9);
    display: flex;
    flex-flow: column;
    align-items: left;
    font-size: 14px;
    color: white;
    & > p:hover {
        color: goldenrod;
    }
    & > p {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}
.site-record-anchor {
    color: white;
    font-size: 12px;
    &:hover {
        color: goldenrod;
    }
}
